.about{
    display: flex;
    gap: 50px;
    width: 100%;

}

h1{
    text-align: center;
    font-size: 50px;
    color: rgb(72, 75, 76);
}
.a-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.a-left h3{
    font-size: 28px;
    font-weight: 600;
    color: rgb(10, 51, 87);
    font-style:italic;
    padding: 20px;
}

.a-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(40, 37, 37);
    border-radius: 10%;
    margin-right: 10px;
}

.a-right img{
    border-radius: 10px;
    width: 70%;
    height: 60vh;
    overflow: hidden;
    object-fit: cover;

}

@media (max-width: 480px) {
    .about{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 110%;
        height: 100%;

        gap: 0px;
    
    }
    .a-left{
        padding: 20px;
    }

    .a-left h3{
        font-size: 18px;
        font-weight: 600;
        color: rgb(10, 51, 87);
        padding: 20px;
        line-height: 1.2;
    }
    
    h1{
        text-align: center;
        font-size: 40px;
    }

    .a-right{
        width: 90%;
        background-color: rgb(40, 37, 37);
        border-radius: 30%;
        margin-bottom: 20px;
    }
    
    .a-right img{
        border-radius: 10px;
        width: 80%;
        height: 60vh;
        overflow: hidden;
        object-fit: contain;
    
    }
    
}