/* Home.css */

.h-container {
    margin-top: 5px;
    width: 60%;
    height: 80vh;
    margin: 0 auto;
  
    @media (max-width: 768px) {
      width: 110%;
      height: 40vh;
      object-fit:cover;
    }
  }
  